{% extends RA_THEME|add:'/change_form.html' %}

{% block admin_change_form_document_ready %}
<script>
    $(document).ready(function () {
        const $quantity = $('[name*=quantity]');
        const $price = $('[name*=price]');

        function calculateTotal(e) {
            let quantity = smartParseFloat($quantity.val());
            let price = smartParseFloat($price.val());
            $('[name*=value]').val(quantity * price)
        }

        $quantity.on('change', calculateTotal);
        $price.on('change', calculateTotal);
    })
</script>
{% endblock %}
